@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

head {
    font-family: 'Poppins', sans-serif;
    
}
title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
body {
    font-family: 'Poppins', sans-serif;
  }


/* Variables */
:root {
    --font-family: "Poppins", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --font-sizereg: 12px;
    --font-sizebig: 16px;
    --font-sizebigger: 24px;
  }
  
  /* Resets */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  /* Base styles */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-family);
  }
  
  /* Navigation */
  nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: var(--bg-color);
  }
  
  nav ul {
    display: flex;
    gap: 7rem;
  }
  
  nav ul li {
    font-weight: var(--normal-font);
    font-size: var(--font-sizereg);
  }
  
  nav h1 {
    color: #232222;
    padding: 1rem 0rem;
    font-weight: var(--bolder-font);
    font-size: larger;
  }
  
  nav a {
    color: #232222;
    text-decoration: none;
    background-image: linear-gradient(#232222, #232222);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }
  
  nav a:hover,
  nav a:focus,
  nav a:active {
    background-size: 100% 0.1em;
  }
  
  /* Flexbox container */
  .flexbox-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
    width: 80%;
    margin-top: 15rem;
  }
  
  .flexbox-item {
    width: 250px;
    margin: 0;
  
    min-height: 100px;
  }
  
  .flexbox-item-1,
  .flexbox-item-4 {
    min-height: 80px;
    border-bottom: 2px solid #232222;
  }
  
  .flexbox-item-2,
  .flexbox-item-3 {
    min-height: 200px;
  }
  
  .myimg {
    max-width: 100%;
  }
  
  /* Flexbox items text */
  .flexbox-container p {
    font-weight: var(--normal-font);
    font-size: var(--font-sizereg);
  }
  
  .flexbox-container h2,
  .flexbox-container h1 {
    font-weight: var(--bold-font);
    margin-bottom: var(--bottom-margin);
  }
  
  .flexbox-container h2 {
    font-size: var(--font-sizebig);
  }
  
  .flexbox-container h1 {
    font-size: var(--font-sizebigger);
  }
  