/* navbar */
.linkbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  
  .linkbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* background-color: rgb(63, 173, 122); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .linkbox li {
    
    margin: 0;
    padding: 0;
  }


  
  .linkbox .top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: aliceblue; */
  }
  
  .linkbox .bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .linkbox .imgLinks {
    height: 40px;
    width: 40px;
    color: rgba(150, 127, 255, 0.781);

  }